.header{
    padding: 0 24px;
    .left{
        float: left;
    }
    .right{
        float: right;
    }
}

.main{
    //100vh 就是整个页面的高度。64px是header，71是footer，所以剩下的就是中间内容区
    min-height: calc(100vh - 64px - 68px);
}

.footer{
    text-align: center;
    background-color: #f7f7f7;
    border-top: 1px solid #e8e8e8;
}